// Variáveis
$primary-color: #6b46c1;
$text-color: #aaa9a9;

@font-face {
  font-family: 'Poppins';
  src: url('../../public/Fontes/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Reset simples
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// Base
body {
  font-family: sans-serif;
  color: $text-color;
  background: #0C0C0C;
}

